.userMessage {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black
}

.aiMessage {
  background-color: #d1e8ff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black
}

.messagesContainer {
  width: 60%;
  max-height: 75vh;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 1rem;
}
